.navbar {
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.logo {
  height: 80px;
}
.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-around;
  gap: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
.search {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 10px;
}
.search input {
  padding: 5px;
  border-radius: 20px;
}
.search button {
  padding: 5px 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
}
.cart {
  display: flex;
  align-items: center;
  height: auto;
  width: auto;
  margin-left: 30px;
}
.cart-icon {
  height: 30px;
}
.user-icon {
  height: 30px;
  margin-left: 10px;
  border-radius: 50%;
}
.coupen {
  background-color: beige;
  width: 40%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  border-left: 8px dashed rgb(216, 216, 138);
  border-right: 8px dashed rgb(216, 216, 138);
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
}
span {
  font-size: 24px;
  font-weight: 600;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.landing-img {
  width: 100%;
  height: 350px;
}
.landing-image h1 {
  position: absolute;
  top: 40%;
  left: 5%;
  color: rgb(223, 120, 120);
  font-size: 48px;
  font-family: "Great Vibes", cursive;
}
.landing-image p {
  position: absolute;
  top: 50%;
  left: 5%;
  color: white;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}
.products h1 {
  font-family: "Great Vibes", cursive;
  color: rgb(223, 120, 120);
  font-weight: 100;
  font-style: normal;
}
.products-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px auto;
}
.product-card img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.product-card {
  width: 250px;
  height: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-image-container {
  width: 100%;
  height: 60%;
  overflow: hidden;
}

.product-card p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 10px 0;
}
.product-details {
  margin: 0;
  height: 40%;
  padding: 5px;
  text-align: center;
}
.product-name{
    height: 70%;
}
.product-desc {
    height: 30%;
}
.product-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
  position: relative;
  bottom: 20px;
  right: 10px;
}
.product-price button {
  font-size: 10px;
  font-weight: 600;
  
  height: 20px;
  border: none;
  border-radius: 20px;
}
.product-price button a{
  font-size: 10px;
  font-weight: 600;
  color: #ff7e5f;
  height: 20px;
  border: none;
  border-radius: 20px;
}
.tagline {
  font-family: "Great Vibes", cursive;
  font-weight: 50;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  text-align: center;
  padding: 20px 0;
  width: 100%;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 100%;
}
.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  background-color: #f1f1f1;
}
.footer-content ul {
  padding: 0;
}
.footer-content p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.footer-content li {
  text-decoration: none;
  list-style: none;
  font-size: 14px;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.follow-us-list{
    display: flex;
    gap: 10px;
}

.model{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.model_content {
    background: white;
    width: 400px;
    padding: 20px;
    height: 500px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.model-img {
    width: 100%;
    height: 80%;
    object-fit: contain;
}
.model:target {
    display: flex;
}
.close_btn {
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 22px;
    text-decoration: none;
    color: black;
}
.model-product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.model-product-image{
    width: 100%;
    height: 70%;
 
}
.model-product-name-price {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: small;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    margin: 10px 0;
    height: 25px;

}
.model-product-name-price h2{
    width: 340px;
}
.coupen:hover {
    transform: scale(1.7);
    transition: ease-in-out 0.3s;
}
.model-product-desc {
    font-family: "Poppins", sans-serif;
    position: relative;
    height: 40px;
    font-weight: 300;
    font-size: 14px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-bottom: 10px;
}
.product-card:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    transition: ease-in-out 0.3s;
}